.talking
{
    border:1px solid #17a2b8;
    background-color:white;
    padding: 5px 15px;
    border-radius:40px;
    color:#17a2b8;
    float: left;
    max-width: 100%;
}


.receiving
{
    border:1px solid #17a2b8;
    background-color:#17a2b8;
    padding: 5px 15px;
    border-radius:40px;
    color:white;
    float: right;
    max-width: 100%;
}
